:root {
  --dark-brown: #594545;
  --mid-brown: #815B5B;
  --light-brown: #9E7676;
  --warm-white: #FFF8EA;

  --light-green: #CCD6A6;
  --light-red: #e77a7a;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  text-align: center;
  font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--light-brown);
  color: var(--warm-white);
}

button {
  font-size: 20px;
  font-family: inherit;
  font-weight: 900;
  background-color: var(--warm-white);
  color: var(--dark-brown);
  border: 4px solid var(--dark-brown);
  border-radius: 5px;
  cursor: pointer;
}

#title {
  width: 225px;
  margin: 20px auto;
  padding: 25px;
  font-weight: 900;
  background-color: var(--mid-brown);
  border: 4px solid var(--dark-brown);
  border-radius: 5px;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--dark-brown);
  border: 4px solid var(--mid-brown);
  border-radius: 5px;
}

#output-area {
  height: 87px;
  margin-bottom: 50px;
  padding: 25px;
  text-align: right;
  background-color: var(--warm-white);
  color: var(--dark-brown);
  border: 4px solid var(--light-brown);
  border-radius: 5px;
}

#expression-el {
  margin-bottom: 20px;
  font-size: 16px;
}

#current-number-el {
  font-size: 40px;
  font-weight: 900;
}

.buttons-grid {
  width: 320px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: repeat(5, 65px);
  margin: 0 auto;
  padding: 20px;
  background-color: var(--mid-brown);
  border: 4px solid var(--light-brown);
  border-radius: 5px;
}

.operator-btns {
  background-color: var(--light-brown);
  color: var(--warm-white);
  border-color: var(--warm-white);
}

.btn:hover,
.operator-btns:hover,
#period-btn:hover {
  background-color: var(--dark-brown);
  color: var(--warm-white);
  border-color: var(--warm-white);
}
.btn:active {
  background-color: var(--light-brown);
  color: var(--warm-white);
  border-color: var(--warm-white);
}

#clear-btn { grid-column: 1 / 3; background-color: var(--light-green); }
#clear-btn:hover {
  background-color: var(--dark-brown);
  color: var(--light-green);
  border-color: var(--light-green);
}
#clear-btn:active {
  background-color: var(--dark-brown);
  color: var(--warm-white);
  border-color: var(--warm-white);
}

#delete-btn { grid-column: 3 / 5; background-color: var(--light-red); }
#delete-btn:hover {
  background-color: var(--dark-brown);
  color: var(--light-red);
  border-color: var(--light-red);
}
#delete-btn:active {
  background-color: var(--dark-brown);
  color: var(--warm-white);
  border-color: var(--warm-white);
}